@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body
{
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    width: 100%;
    height: 100%;
    margin: 0;
}

#card
{
    background-color: hsl(0, 0%, 100%);
    width: 296px;
    height: 480px;
    margin: 50px auto;   
    padding: 16px;
    border-radius: 18px;
    box-shadow: 5px 5px 5px #a7a8aa33;
}

#text
{
    text-align: center;
    padding: 16px;
    margin: -10px auto;
    letter-spacing: 0.4px;
}

#text p
{
    color: hsl(216, 15%, 48%);
}

#text h1
{
    font-size: 22px;
    line-height: 28px;
    color: hsl(218, 44%, 22%);
}

img
{
    text-align: center;
    width: 100%;
    border-radius: 10px;
}