body {
    background-color: hsl(212, 45%, 89%);
    padding: auto;
    min-width: 375px;

}

small {
    font-size: 11px;
    color: hsl(216, 15%, 48%);
}

p {
    font-size: 15px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

img {
    border-radius: 5%;
    margin-top: 10px;
}

.text {
    width: 85%;
    margin: auto;
}


.container {
    background-color:  hsl(0, 0%, 100%);
    margin: 100px auto;
    width: 230px;
    height: 375px;
    text-align: center;
    border-radius: 5%;
    box-shadow: 0 0 5px rgb(143, 142, 142);
    min-width: 230px;
    max-width: 230px;
}